{% extends 'base.html.twig' %}

{% block title %}Hello CommentaireController!
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ flashError }}</div>
	{% endfor %}


	<div class="col-md-12">

		{{form(form)}}


		</div>


	{% endblock %}
